.checkbox {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  /* width: 1.15em; */
  /* height: 1.15em; */
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* background-color: red; */
  /* background-color: CanvasText; */
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:indeterminate::after {
  content: "";
  display: grid;
  place-content: center;
  width: 0.75rem;
  height: 0.75rem;
  border: solid white;
  border-width: 0.18rem 0 0 0;
  /* position: absolute; */
  /* top: 9px; */
  /* left: 5px; */
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkbox:disabled {
  color: #636363;
  cursor: not-allowed;
  pointer-events: none;
}

.checkbox:disabled::before {
  box-shadow: inset 1em 1em #636363;
}
