@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* remove webkit input default styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@layer base {
  :root {
    --primary: 37 99 235;
    --primary-text: 242 242 242;
    --bg: 242 242 242;
    --card: 255 255 255;
    --text: 33 33 33;
    --border: 99 99 99;
    --notification: 255 69 58;
  }

  .primary {
    --primary: 37 99 235;
    --primary-text: 242 242 242;
    --bg: 242 242 242;
    --card: 255 255 255;
    --text: 33 33 33;
    --border: 120 120 120;
    --notification: 255 69 58;
  }

  .secondary {
    --primary: 75 85 99;
    --primary-text: 242 242 242;
    --bg: 242 242 242;
    --card: 255 255 255;
    --text: 33 33 33;
    --border: 33 33 33;
    --notification: 255 69 58;
  }

  .success {
    --primary: 22 163 74;
    --primary-text: 242 242 242;
    --bg: 242 242 242;
    --card: 255 255 255;
    --text: 33 33 33;
    --border: 33 33 33;
    --notification: 255 69 58;
  }

  .danger {
    --primary: 220 38 38;
    --primary-text: 242 242 242;
    --bg: 242 242 242;
    --card: 255 255 255;
    --text: 33 33 33;
    --border: 33 33 33;
    --notification: 255 69 58;
  }

  .warning {
    --primary: 250 204 21;
    --primary-text: 31 41 55;
    --bg: 242 242 242;
    --card: 255 255 255;
    --text: 33 33 33;
    --border: 33 33 33;
    --notification: 255 69 58;
  }

  .info {
    --primary: 34 211 238;
    --primary-text: 242 242 242;
    --bg: 242 242 242;
    --card: 255 255 255;
    --text: 33 33 33;
    --border: 33 33 33;
    --notification: 255 69 58;
  }

  .flat {
    --primary: 0 0 0;
    --primary-text: 37 99 235;
    --border: 156 163 175;
  }

  .light {
    --bg: 243 244 246;
    --text: 63 63 70;
  }

  .dark {
    --bg: 63 63 70;
    --card: 33 33 33;
    --text: 243 244 246;
    --border: 243 244 246;
  }
}
